*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 55px;
  top: 227px;
  width: 313px;
  height: 314px;
	animation: stampIn 0.3s ease-in;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

@keyframes stampIn {
	0%	{
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 1;
	}
	100%	{
		transform: scale(1);
		opacity: 1;
	}
}

.nav {
  position: absolute;
  left: 882px;
  top: 708px;
  width: 116px;
  height: 36px;
  z-index: 5;
}

.takeCover {
	position: absolute;
  left: 880px;
  top: 674px;
  width: 40px;
  height: 94px;
	z-index: 10;
}

.hit_1, .hit_2, .hit_3, .hit_4 {
  position: absolute;
  width: 1024px;
  height: 768px;
  display: none;
  z-index: 15;
}

.hit_pop1 {
	position: absolute;
  left: 920px;
  top: 674px;
  width: 40px;
  height: 94px;
	z-index: 10;
}

.hit_pop2 {
	position: absolute;
  left: 960px;
  top: 674px;
  width: 40px;
  height: 94px;
	z-index: 10;
}

.hit_pop3 {
	position: absolute;
  left: 857px;
  top: 682px;
  width: 68px;
  height: 86px;
  display: none;
	z-index: 30;
}

.hit_pop4 {
	position: absolute;
  left: 516px;
  top: 513px;
  width: 464px;
  height: 206px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}