*{
	margin: 0px;
	padding: 0px;
}

.hit_pop3 {
	position: absolute;
  left: 938px;
  top: 614px;
  width: 79px;
  height: 76px;
	z-index: 50;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 0px;
  top: 103px;
  width: 1024px;
  height: 289px;
	animation: revealHorizontal 3s linear;
	animation-delay: 1.2s;
	animation-fill-mode: both;
	clip: rect(0px,0px,500px,0px);
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 189px;
  top: 211px;
  width: 81px;
  height: 76px;
	animation: bounceIn 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 327px;
  top: 211px;
  width: 80px;
  height: 75px;
	animation: bounceIn 0.5s;
	animation-delay: 2.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 464px;
  top: 212px;
  width: 74px;
  height: 73px;
	animation: bounceIn 0.5s;
	animation-delay: 2.8s;
	animation-fill-mode: both;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 612px;
  top: 211px;
  width: 80px;
  height: 75px;
	animation: bounceIn 0.5s;
	animation-delay: 3.3s;
	animation-fill-mode: both;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 0px;
  top: 336px;
  width: 763px;
  height: 227px;
	animation: slideInLeft 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 20;
}

.w89 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
  	animation: slideInRight 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 15;
}

.s8 {
	position: absolute;
  left: 292px;
  top: 0px;
  width: 732px;
  height: 175px;
	z-index: 7;
}

.s9 {
	position: absolute;
  left: 458px;
  top: 109px;
  width: 106px;
  height: 55px;
	z-index: 3;
}

.s10 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
	z-index: 20;
}

.s11 {
  position: absolute;
  left: 681px;
  top: 538px;
  width: 290px;
  height: 95px;
  animation: zoomIn 0.5s;
  animation-delay: 4.5s;
  animation-fill-mode: both;
  z-index: 25;
}



@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,500px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,1024px,500px,0px);
	opacity: 1;
  }
}