* {
	margin: 0px;
	padding: 0px;
}

.s4_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s4_2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 2;
}

.s4_3 {
	position: absolute;
  left: 536px;
  top: 299px;
  width: 463px;
  height: 200px;
	animation: fadeInUp 1s;
	animation-delay: 0s;
	animation-fill-mode: both;
	display: none;
	z-index: 4;
}

.switch {
  position: absolute;
  left: 527px;
  top: 201px;
  width: 214px;
  height: 89px;
  z-index: 5;
  cursor: pointer;
}
