*{
	margin: 0px;
	padding: 0px;
}

.hit_pop3 {
	position: absolute;
  left: 373px;
  top: 316px;
  width: 178px;
  height: 129px;
	z-index: 10;
}

.hit_pop4 {
	position: absolute;
  left: 567px;
  top: 316px;
  width: 178px;
  height: 129px;
	z-index: 10;
}

.hit_pop5 {
	position: absolute;
  left: 762px;
  top: 316px;
  width: 178px;
  height: 129px;
	z-index: 10;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 295px;
  top: 421px;
  width: 394px;
  height: 347px;
	animation: slideInUp 0.8s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}


@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,500px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,1024px,500px,0px);
	opacity: 1;
  }
}