*{
	margin: 0px;
	padding: 0px;
}

.playSiren {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 25;
}

.hit_pop3 {
	position: absolute;
  left: 819px;
  top: 601px;
  width: 79px;
  height: 76px;
	z-index: 50;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 0px;
  top: 172px;
  width: 1024px;
  height: 445px;
	animation: revealHorizontal 5s linear;
	animation-delay: 0s;
	animation-fill-mode: both;
	clip: rect(0px,0px,500px,0px);
	display: none;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 170px;
  top: 78px;
  width: 176px;
  height: 159px;
	animation: bounceIn 0.5s;
	animation-delay: 1.3s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s4 {
	position: absolute;
  left: 267px;
  top: 527px;
  width: 221px;
  height: 191px;
	animation: bounceIn 0.5s;
	animation-delay: 1.8s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s5 {
	position: absolute;
  left: 417px;
  top: 48px;
  width: 213px;
  height: 158px;
	animation: bounceIn 0.5s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s6 {
	position: absolute;
  left: 517px;
  top: 546px;
  width: 175px;
  height: 169px;
	animation: flash 1s infinite;
	animation-delay: 3.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s7 {
	position: absolute;
  left: 566px;
  top: 596px;
  width: 73px;
  height: 65px;
	animation: pulse 1s infinite;
	animation-delay: 3.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s8 {
	position: absolute;
  left: 644px;
  top: 635px;
  width: 163px;
  height: 22px;
	animation: fadeIn 0.5s;
	animation-delay: 3.2s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s9 {
	position: absolute;
  left: 697px;
  top: 87px;
  width: 255px;
  height: 143px;
	animation: bounceIn 0.5s;
	animation-delay: 4s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}

.s10 {
	position: absolute;
  left: 0px;
  top: 229px;
  width: 1024px;
  height: 324px;
	animation: revealHorizontal 0.5s;
	animation-delay: 6s;
	animation-fill-mode: both;
	display: none;
	z-index: 5;
}


@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,500px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,1024px,500px,0px);
	opacity: 1;
  }
}