*{
	margin: 0px;
	padding: 0px;
}

.s9_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s9_2 {
	position: absolute;
  left: 67px;
  top: -1px;
  width: 271px;
  height: 369px;
	animation: fadeInDown 0.7s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 4;
}

.s9_3 {
	position: absolute;
  left: 396px;
  top: 99px;
  width: 483px;
  height: 230px;
	animation: zoomIn 0.7s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s9_4 {
	position: absolute;
  left: 99px;
  top: 430px;
  width: 207px;
  height: 79px;
	animation: fadeInUp 0.7s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_5 {
	position: absolute;
  left: 391px;
  top: 360px;
  width: 390px;
  height: 79px;
	animation: fadeInRight 0.7s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_6 {
	position: absolute;
  left: 391px;
  top: 486px;
  width: 483px;
  height: 71px;
	animation: fadeInRight 0.7s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_7 {
	position: absolute;
  left: 391px;
  top: 610px;
  width: 317px;
  height: 71px;
	animation: fadeInRight 0.7s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s9_8 {
	position: absolute;
  left: 516px;
  top: 321px;
  width: 144px;
  height: 94px;
	animation: pulse 1s infinite;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	opacity: 0;
	z-index: 2;
}

.s9_ref {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s9_pop1 {
	position: absolute;
  left: 855px;
  top: 706px;
  width: 71px;
  height: 62px;
	z-index: 15;
}

.s9_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDownSmallSmall {
  -webkit-animation-name: fadeInDownSmall;
  animation-name: fadeInDownSmall;
}